
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@font-face {
    font-family: MinhaFonte2;
    src: url(../fonts/FLOWRISE.woff);

    
}
@font-face {
    font-family: MinhaFonte1;
    src: url(../fonts/fonte-1/Lora-VariableFont_wght.ttf);

}

/* :root{
    --minha-font:  --url(.);
} */

header{
  background-color: #ece6e6;
  width: 100%;
  position: fixed;
  z-index: 1;

  @media  (max-width: 800px) {
    background-color: #ecbebb;
  }
}

li{
  list-style: none;
  color: purple;
  font-size: 1.1rem;
  
  @media (max-width: 800px) {
    color: white;
    
  }
}

a{
  color: white;
  text-decoration: none;
  
}

.container{
  max-width: 70vw;
  width: 92%;
  margin: 0 auto;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding{
  font-size: 2rem;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  

}

.nav-link{
  transition: 0.3s ease-out;
}

.nav-link:hover{
  color: dodgerblue;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.navbar ul{

  @media (max-width: 800px) {
    background-color:#ecbebb;
    border-bottom: 1px solid black;
  }
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;

}

.nav-branding img{
  width: 100px;
  padding: 10px;
  
  @media  (max-width: 800px) {
    width: 80px;
    border-radius: 20px;
    padding-top: 5px;
  }
}

@media(max-width:800px){
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }
}

/* Estilizando section-1 */

.section-1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2%;
    font-family: MinhaFonte1;
    background-color:#ece6e6;
    height: 100%;
    @media screen and (min-width: 299px) and (max-width: 499px ){
          width: 100vw;

  } 

    @media  (max-width: 800px) {
      padding: 0;
  }
}
    
.texto-1{
    padding: 2rem;
    width: 100%;
    text-align: center;

}

.titulo-portifolio{
    font-size: 10rem; 
    font-family: MinhaFonte2;
    color:purple;
    padding-top: 2rem;

    @media  (max-width: 800px) {
      font-size: 5rem;
      padding-top: 6rem;
    }
}


.titulo-nome{
    color:purple;
    font-size: 2rem;
    padding-top: 2rem;
    font-weight: 500;
    font-family: MinhaFonte1 ;
}

/* Estilizando section-2 */

.section-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 2%;
    font-family: MinhaFonte1;
    background-color:#ece6e6;
    height: 100%;
}


.paragrafo-sobre{
    font-size: 2rem;
    padding: 5rem;
    color:rgb(110, 54, 106);
    text-align: center;
    @media  (max-width: 800px) {
      padding: 0;
    }

    
}

.paragrafo-sobre p{
    margin: 2rem;
    width:100%;
    font-size: 1rem;
    text-align: justify;
    color: black;
    @media  (max-width: 800px) {
      padding: 2rem;
    }

}



/* Estilizando section-3 */
.section-3{
  width: 100%;
  display: flex;
  justify-content: center;  
  background-color:#ece6e6;
  height: 100%;
  padding-bottom: 1rem;
  @media  (max-width: 800px) {
    padding-bottom: 1rem;
  }

}
div.carrossel-automatico{
  width: 70vw;
  height: 70vh;
  overflow: hidden;



}

div.carrossel-automatico img{
  width: 100vw;
  height: 600px;
  object-fit: cover;

}

div.carrossel-1{
  display: flex;
  transform: translateX(0);
}

/* Estilizando section-4 */
.section-4{
    width:100%;
    align-items:center;
    justify-content:center;
    background-color:white;
    font-family: MinhaFonte1;
}
.container-forma h1{
    color: purple;
    padding-bottom: 3rem;
}

.titulo-forma h1{
    font-weight: bold;
    color: purple;
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
}
.container-forma{
    display: flex;
    padding: 2rem;
    text-align: justify;
    font-size: 1.1rem;
    gap:2rem;
    @media  (max-width: 800px) {
      flex-direction: column;
    }

}
.paragrafo-resumen {
  text-align: center;
  font-size: 1.1rem;
  padding-bottom: 2rem;
  padding-left: 2rem;

  @media (max-width: 800px) {
    padding: 0.5rem;
  }
}
.paragrafo-resumo{
    color:purple;
    height: 80%;
    width: 80%;
    margin: auto;
    @media  (max-width: 800px) {
      width: 100%;
    }
}
.paragrafo-resumo h1{
    font-size: 3.5rem;
    text-align: center;
    padding: 1rem;
}
.paragrafo-resumo p{
    font-size: 1.1rem;
    text-align: justify;
    color: black;

    @media (max-width: 800px) {
      padding: 1.5rem;

    }
}

/* Estilização section-5 */
.section-5{
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #ece6e6;
    font-family: MinhaFonte1;
    background-color:#ece6e6;
}
.titulo-card-tecno{
    text-align: center;
    padding: 5rem;
    font-size: 1.7rem;
    color: purple;
}
.cards-total{
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.card-tecno {
    display: flex;
    width: 15%;
    background-color: #fff;
    border-radius: 0.9rem;
    padding: 1.25rem;
    margin: 1.25rem;
    transition: transform 0.1s ease-in-out;
    @media (max-width: 800px) {
      width: 35%;
    }
}
.card-tecno:hover {
    transform: scale(1.1);
}

.cd-tecno img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 0.625rem;
}
.cd-tecno h2{
  text-align: center;
}


/*Estilização section-6 */

.section-6{
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: white;
    font-family: MinhaFonte1;

} 
.card-estudar {
    display: flex;
    width: 15%;
    border-radius: 0.5rem;
    text-align: justify;
    padding: 1.25rem;
    margin: 1.25rem;
    transition: transform 0.1s ease-in-out;
    background-color: #ece6e6;
    @media (max-width: 800px) {
      width: 35%;
      
    }
}
.card-estudar:hover {
    transform: scale(1.1);
}

.cd-tecno2 img{
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 0.625rem;
}
.cd-tecno2 h2{
  text-align: center;
}

/* Estilização section-7 */

.section-7{
    width: 100%;
    height: 95%; 
    font-family: MinhaFonte1;
    padding: 2rem;
    background-color:#ece6e6;
    @media  (max-width: 800px) {
      padding: 0;
    }
}

.section-7 h1{
  color: purple;
  text-align: center;
  margin-top: 1rem;
  font-family: MinhaFonte1;
  font-size: 2rem;

}
div.carrossel-manual{
  width: 900px;
  height: 700px;
  overflow: hidden;
  margin: auto;
  position: relative;
  @media (max-width: 800px) {
    padding: 0;
    width: 450px;
  }
}

div.carrossel-manual img{
  object-fit:scale-down;
  width: 900px;
  height: 700px;
  @media  (max-width: 800px) {
    width: 450px;
  }
}

div#carrossel-2{
  display: flex;
  transition: 0.5s ;
  transform: translateX(0);
}

div.direita, div.esquerda{
  position: absolute;
  font-size: 3rem;
  cursor: pointer;
  color: white;
}
div.direita:hover, div.esquerda:hover{
  color: black;
}

div.direita{
  top: 50%;
  right: 0;
}

div.esquerda{
  top: 50%;
  left: 0;
}

/* Estilização section-8 */


.section-8{
    width: 100%;
    height: 100%; 
    background-color:white;
    font-family: MinhaFonte1;

}

.feedback-todo{
    display: flex;
    gap: 1rem;
    padding: 5rem;
    @media  (max-width: 800px) {
      padding: 1rem;
      flex-direction: column;
  }
    
}
.titulo-feedback h1{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    font-size: 4rem;
    color: purple;

}
.feedbacks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 4rem;
    @media (max-width: 800px) {
      padding: 2rem;
      grid-template-columns: none;
  }
}

.card-feedback, .user{
    width: 20rem;
    @media  (max-width: 800px) {
      width: 100%;
    }
}
.user{
    width: 100%;
    margin: 0;
}
.card-feedback h3{
  text-align: center;
  padding: 1rem;
}
.stars img{
    padding: 0.2rem;
    width: 1.5rem;
}

.texto-feedback {
    font-size: 1rem;
    text-align: justify;
    font-family: MinhaFonte1;
}

/* Estilizaçõa section-9 */
.section-9 {
    font-family: MinhaFonte1;
    min-height: 100vh;
    background-color: #060606;
    display: grid;
    place-items: center;
    color: rgb(255, 255, 255);
    padding-left: 10rem;
    @media  (max-width: 800px) {
      padding: 1rem;
  }
    
}
  
  #cards {
    width: 100%;
    padding-inline: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
  }
  
  .card {
    min-width: 12rem;
    height: 21rem;
    flex: 0.053 0.053 10rem; ;
    background-color: rgba(255, 255, 255, 0.12);
    border-radius: 0.75rem;
    position: relative;

    @media  (max-width: 800px) {
      min-width: 14.5rem;
      height: 20rem;
  }


  }
  .card-content .logo-midia{
    font-size: 4rem;
  }
  #cards:hover > .card {
    background: radial-gradient(
      400px circle at var(--mouse-x) var(--mouse-y),
      hsl(var(--color) / 1),
      rgba(255, 255, 255, 0.12) 40%
    );
  }
  
  .card-content {
    position: absolute;
    inset: 0.25rem;
    background-color: #131315;
    border-radius: inherit;
  }
  
  .card:nth-child(1) {
    --color: 348 80% 60%;
  }
  .card:nth-child(2) {
    --color: 559 20% 100%;
  }
  .card:nth-child(3) {
    --color: 220 100% 35%;
  }
  .card:nth-child(4) {
    --color: 369 100% 35%;
  }
  
  .card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(
      500px circle at var(--mouse-x) var(--mouse-y),
      hsl(var(--color) / 0.35),
      transparent 40%
    );
    border-radius: inherit;
    opacity: 0;
    z-index: 2;
  }
  
  #cards:hover > .card::before {
    opacity: 1;
  }
  
  a {
    all: unset;
    cursor: pointer;
  }
  
  .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.125rem;
    align-items: center;
  }
  
  .card-content > i {
    font-size: 10rem;
    color: rgba(255, 255, 255, 0.5);
  }
  
  .card-content > p {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .card-content > a {
    width: 90%;
    padding-block: 0.9rem;
    background-color: rgba(255, 255, 255, 0.05);
    border: 0.25rem solid rgba(255, 255, 255, 0.1);
    border-radius: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    z-index: 10;
  }
  .card-content > a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 0.25rem solid rgba(255, 255, 255, 0.2);
  }
  



/* Section Cadastro */

.section-cadastro{
  width: 100%;
  height: 45%;
  background-color:white;
  padding: 2rem;
}

 #cadastrar{
  font-size: 1rem;
  width: 5rem;
 }
 .texto-cadastro{
  justify-content: center;
  margin-top: 5rem;
  @media  (max-width: 800px) {
    margin-top: 0rem;
  }

 }
 .texto-cadastro h1{
  font-size: 2rem;
  padding-bottom: 1.5rem;
  font-family: MinhaFonte1;
  color: purple;
 }
 .cadastro h1{
  text-align: center;
  width: 100%;
  @media (max-width: 800px) {
    text-align: justify;
    font-size: 22px;
  }

  }

 .cadastrar{
  text-align: center;
 }
 .section-10 #cadastrar{
  background-color: #ece6e6;
  height: 3rem;
  width: 6rem;
  font-family: MinhaFonte1;
  border-radius: 0.5rem;
 }
 .section-10 #cadastrar:hover{
  background-color: #ecbebb;
  cursor: pointer;
 }

/* Modal */
form{
  border: none;
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #ece6e6;
  box-shadow: 2px 2px 5px rgb(254 25 555 / 60%);
  border-radius: 2rem;
  
  @media  (max-width: 800px) {
    width: 80%;
    height: 70%;

  }


}

#modal h1{
  color: purple;
  font-size: 1.5rem;
  font-family: MinhaFonte1;
  @media (max-width: 800px) {
    text-align: center;

  }

}
#modal input{
  padding: 0.5rem 1rem;
  border: 0.5px solid rgba(0, 0, 0, 0.266);
  box-shadow: 1px 1px 4px rgba(238, 133, 238, 0.568);
  outline: none;
  border-radius: 0.75rem;
  
}
#form .cadastro-input{
  background-color: white;
  box-shadow: 1px 1px 5px solid blueviolet;
  font-family: MinhaFonte1;
  
 }
#modal > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 100%;
}

#form .container-texto{
  align-items: center;
  text-align: center;
  width: 100% ;

}
#form .mensagem-texto{
  width: 13rem;
  height: 6rem;
  margin-top: 1rem;

  @media  (max-width: 800px) {

    height: 6rem;

  }
}
#fade , #modal{
  transition: 0.4s ;
  opacity: 1;
}

#fade{
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.397);
}

#modal{
  border-radius: 1rem;
  z-index: 10;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.301);
  width: 40%;
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%,-50%);
  
  @media  (max-width: 800px) {
    width: 90%;
    height: 80%;

  }
}

#modal.hide , #fade.hide{
  opacity: 0;
  pointer-events: none;
}


/* Estilização do Footer */

footer {
  width: 100%;
  color:#ece6e6;
}

.logo-footer{
  width: 65%;
  border-radius: 2rem;

}

.footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: #ece6e6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem 1.5rem;
  @media  (max-width: 800px) {
    
    grid-template-columns: none;
    width: 100%;
    height: 80%;

  }
}

#footer_contacts h1 {
  margin-bottom: 0.75rem;
}
#footer_contacts p{
  color: black;
}
#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
} 

#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: purple;
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media {
  font-size: 1.5rem;
  color: black;    
}

#footer_social_media ion-icon:hover {
  opacity: 0.8;
  color: purple;
}


.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}
.footer-list h3{
  color: black;
}

.footer-list .footer-link {
  color: black;
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: purple;
}


#footer_copyright {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 0.5rem ;
  font-weight: 100;
  background-color: #ece6e6;
  color: black;
}

@media (max-width: 490px) {
  #footer_content {
      gap: 2rem;
  }
}

@media (max-width: 800px) {
  #footer_content {

      padding: 3rem 2rem;
  }
}

/* Estilizando botão voltar */

.scrollTop{
position:fixed;
bottom:30px;
right:30px;
padding:10px 15px;
background-color:white;
color:purple;
border-radius:5px;
border-radius:1px;
cursor:pointer;
transition: all 0.5s ease 0s;
}

.scrollTop:hover{ 
background-color: black;
color:purple;
}




.progress {
  height: 0.5rem;
  background: purple;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform-origin: 0 50%;
  animation: scaleProgress auto linear;
  animation-timeline: scroll(root);
}

@keyframes scaleProgress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}